In [27]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [10]:
df = pd.read_csv(r'.\data mining for finance\bayesdata.csv')
df

    Age   ROE  DebtEquity Default
0     1  0.10        2.00      no
1     2  0.11        3.00      no
2     4  0.16        0.50      no
3     5  0.08        0.25      no
4     4  0.02        1.00     yes
5     3  0.03        1.10      no
6     5  0.04        2.00     yes
7     1  0.02        2.50     yes
8     2  0.02        0.50     yes
9     5  0.07        0.00      no
10    1  0.07        4.00     yes
11    4  0.06        3.00     yes
12    3  0.06        0.40      no
13    4  0.18        3.50     yes
14    5  0.08        0.30      no

In [8]:
gnb = GaussianNB()

In [48]:
X = np.array(df.iloc[:,:X.shape[1]],ndmin=2)
X

array([[ 1.  ,  0.1 ,  2.  ],
       [ 2.  ,  0.11,  3.  ],
       [ 4.  ,  0.16,  0.5 ],
       [ 5.  ,  0.08,  0.25],
       [ 4.  ,  0.02,  1.  ],
       [ 3.  ,  0.03,  1.1 ],
       [ 5.  ,  0.04,  2.  ],
       [ 1.  ,  0.02,  2.5 ],
       [ 2.  ,  0.02,  0.5 ],
       [ 5.  ,  0.07,  0.  ],
       [ 1.  ,  0.07,  4.  ],
       [ 4.  ,  0.06,  3.  ],
       [ 3.  ,  0.06,  0.4 ],
       [ 4.  ,  0.18,  3.5 ],
       [ 5.  ,  0.08,  0.3 ]])

In [45]:
y = np.array(df.iloc[:,X.shape[1]:])
y

array([['no'],
       ['no'],
       ['no'],
       ['no'],
       ['yes'],
       ['no'],
       ['yes'],
       ['yes'],
       ['yes'],
       ['no'],
       ['yes'],
       ['yes'],
       ['no'],
       ['yes'],
       ['no']], dtype=object)

In [54]:
gnb.fit(X,y)

C:\Program Files\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [51]:
gnb.predict([[2,0.05,3]])

array(['yes'],
      dtype='<U3')

In [28]:
X.shape

(15, 3)

In [43]:
df.iloc[:,:3]

    Age   ROE  DebtEquity
0     1  0.10        2.00
1     2  0.11        3.00
2     4  0.16        0.50
3     5  0.08        0.25
4     4  0.02        1.00
5     3  0.03        1.10
6     5  0.04        2.00
7     1  0.02        2.50
8     2  0.02        0.50
9     5  0.07        0.00
10    1  0.07        4.00
11    4  0.06        3.00
12    3  0.06        0.40
13    4  0.18        3.50
14    5  0.08        0.30